server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    location / {
      root /gitweb;
      index gitweb.cgi;
      include fastcgi_params;
      gzip off;
      fastcgi_param   GITWEB_CONFIG  /etc/gitweb.conf;
      fastcgi_param   SCRIPT_FILENAME /gitweb/gitweb.cgi;
      if ($uri ~ "/gitweb.cgi") {
          fastcgi_pass    unix:/run/gitweb.sock;
      }
    }
}

# vim:set ft=nginx:
